@import "tailwindcss";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a3cef1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #274c77;
  color: white;
  text-align: center;
  padding: 1rem;
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #274c77;
  color: white;
  font-size: xx-large;
}

/* Navigation */
.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 8px;
  z-index: 1001;
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
  font-size: 20px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ff8c00;
}
