@import "tailwindcss";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a3cef1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}