---
import Layout from '../layouts/Layout.astro';
import "../components/styles.css";
---
<Layout>
  <div class="grid gap-6 p-4">
    <div class="p-4 bg-[#274c77] rounded-lg shadow">
      <h1 id="introduction" class="text-3xl text-[#6096ba] font-bold ">Introduction</h1>
      <p class="text-[#e7ecef]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="grid gap-6 p-4">
    <div class="p-4 bg-[#274c77] rounded-lg shadow">
      <h1 id="background" class="text-3xl text-[#6096ba] font-bold ">Background</h1>
      <p class="text-[#e7ecef]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="grid gap-6 p-4">
    <div class="p-4 bg-[#274c77] rounded-lg shadow">
      <h1 id="methodology" class="text-3xl text-[#6096ba] font-bold ">Methodology</h1>
      <p class="text-[#e7ecef]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="grid gap-6 p-4">
    <div class="p-4 bg-[#274c77] rounded-lg shadow">
      <h1 id="experiment1" class="text-3xl text-[#6096ba] font-bold ">Experiment 1</h1>
      <p class="text-[#e7ecef]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="grid gap-6 p-4">
    <div class="p-4 bg-[#274c77] rounded-lg shadow">
      <h1 id="experiment2" class="text-3xl text-[#6096ba] font-bold ">Experiment 2</h1>
      <p class="text-[#e7ecef]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="grid gap-6 p-4">
    <div class="p-4 bg-[#274c77] rounded-lg shadow">
      <h1 id="results" class="text-3xl text-[#6096ba] font-bold ">Results</h1>
      <p class="text-[#e7ecef]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="grid gap-6 p-4">
    <div class="col-span-2 p-4 bg-[#274c77] rounded-lg shadow">
      <h1 id="conclusion" class="text-3xl text-[#6096ba] font-bold ">Conclusion</h1>
      <p class="text-[#e7ecef]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="grid gap-6 p-4">
    <div class="p-4 bg-[#274c77] rounded-lg shadow">
      <h1 id="appendix" class="text-3xl text-[#6096ba] font-bold ">Appendix</h1>
      <p class="text-[#e7ecef]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</Layout>
