---
import Layout from '../layouts/Layout.astro';
import NormalizedChart from  "../components/NormalizedChart.jsx"
import ResultsDashboard from  "../components/ResultsDashboard.jsx"
---
<Layout>
  <div class="bg-gray-700 shadow-lg rounded-2xl p-4 m-2">
    <h3 class="text-xl font-semibold text-blue-300 mb-2">Normalized Chart</h3>
    <NormalizedChart />
  </div>
  
  <div class="bg-gray-700 shadow-lg rounded-2xl p-4 m-2">
    <h3 class="text-xl font-semibold text-blue-300 mb-2">Results Dashboard</h3>
    <ResultsDashboard />
  </div>