---
import Layout from '../layouts/Layout.astro';
import NormalizedChart from  "../components/NormalizedChart.jsx"
import ResultsDashboard from  "../components/ResultsDashboard.jsx"
---
<Layout>
  <div class="bg-gray-700 shadow-lg rounded-2xl p-4 m-2">
    <ResultsDashboard client:load />
  </div>
  
  <div class="bg-gray-700 shadow-lg rounded-2xl p-4 m-2">
    <NormalizedChart client:load />
  </div>
</Layout>