@import "tailwindcss";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(to bottom, #104161, #29608a); */
  background-color: #a3cef1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #274c77;
  color: white;
  text-align: center;
  padding: 1rem;
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #274c77;
  color: white;
  font-size: xx-large;
}