<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Investigating CoTTA</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1 class="site-title">Investigating CoTTA: Validating Real-Time Neural Network Adaptations</h1>
      </div>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>&copy; <script>document.write(new Date().getFullYear().toString());</script> Keenan Serrao. All rights reserved.</p>
    </footer>
  </body>
</html>